// 背景颜色
$primary:#409EFF;
$success:#67C23A;
$warming:#E6A23C;
$danger:#F56C6C;
$info:#909399;
$background:#f5f7fa;

// 文字颜色
$dark-text:#303133;
$text:#606266;
$light-text:#909399;
$lighter-text:#C0C4CC;

// 边框颜色
$dark-border:#DCDFE6;
$border:#E4E7ED;
$light-border:#EBEEF5;
$lighter-border:#F2F6FC;

// 字体
$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

// 字体大小
$huge:20px;
$big:18px;
$large:16px;
$normal:14px;
$small:13px;
$tiny:12px;

$types:primary, success, warming, info, danger;
$colors: (
  primary: $primary,
  success: $success,
  warming: $warming,
  danger: $danger,
  info: $info
);

$box-shadow:0 2px 12px 0 rgba(0,0,0,.1);
